In [32]:
#!/usr/bin/env python

##code to create the database##

from sqlalchemy import create_engine

engine = create_engine('sqlite:///FloridaEduData.sqlit', echo=True)


from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

metadata = MetaData()

Districts = Table('Districts', metadata,
     Column('DisNum', Integer, primary_key=True),
     Column('DisName', String),
     Column('TotGradRate', String),
     )

GradRates = Table('GradRates', metadata,
    Column('DisNum', Integer, ForeignKey('Districts.DisNum')),
    Column('Lunch', Integer),
    Column('ELL', Integer),
    Column('Migrant', Integer),
    Column('AtRisk', Integer),
    Column('Total', Integer, ForeignKey('Districts.TotGradRate')),
    )

Teachers = Table('Teachers', metadata,
    Column('DisNum', Integer, ForeignKey('Districts.DisNum')),
    Column('AvgSalary', String),
    Column('NumEmployed', Integer),
    )

metadata.create_all(engine)

2020-06-19 19:48:46,478 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-06-19 19:48:46,479 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:46,480 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-06-19 19:48:46,480 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:46,481 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Districts")
2020-06-19 19:48:46,482 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:46,489 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Districts")
2020-06-19 19:48:46,489 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:46,490 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("GradRates")
2020-06-19 19:48:46,491 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:46,492 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("GradRates")
2020-06-19 19:48:46,492 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:46,493 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Teachers")
2020-06-19 19:48:46,494 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:46,494 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Teachers")
2020-06-19 19:48:46,495 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:46,496 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Districts" (
	"DisNum" INTEGER NOT NULL,
	"DisName" VARCHAR,
	"TotGradRate" VARCHAR,
	PRIMARY KEY ("DisNum")
)


2020-06-19 19:48:46,497 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:47,215 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-19 19:48:47,216 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "GradRates" (
	"DisNum" INTEGER,
	"Lunch" INTEGER,
	"ELL" INTEGER,
	"Migrant" INTEGER,
	"AtRisk" INTEGER,
	"Total" INTEGER,
	FOREIGN KEY("DisNum") REFERENCES "Districts" ("DisNum"),
	FOREIGN KEY("Total") REFERENCES "Districts" ("TotGradRate")
)


2020-06-19 19:48:47,217 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:48,399 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-19 19:48:48,400 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Teachers" (
	"DisNum" INTEGER,
	"AvgSalary" VARCHAR,
	"NumEmployed" INTEGER,
	FOREIGN KEY("DisNum") REFERENCES "Districts" ("DisNum")
)


2020-06-19 19:48:48,401 INFO sqlalchemy.engine.base.Engine ()
2020-06-19 19:48:49,073 INFO sqlalchemy.engine.base.Engine COMMIT

In [33]:
#!/usr/bin/env python
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String
from sqlalchemy import sql, select, join, desc

# Create a Engine object which is our handle into the database.
engine = create_engine('sqlite:///FloridaEduData.sqlit')

# Connect to the database
conn = engine.connect()

# Read the metadata from the existing database.
#  Since the database already exists and has tables defined, we can create Python objects based on these automatically.
DBInfo=MetaData(engine)

# Auto-create the city object basedon the metadata read into the DBInfo.
Districts=Table('Districts', DBInfo, autoload=True)

# Mirroring this command: SELECT Id, Name, Population FROM city LIMIT 10;
query = select([Districts.c.DisNum, Districts.c.DisName, Districts.c.TotGradRate]).limit(100)
result = conn.execute(query)
for row in result:
    print(row)

In [34]:
##code to insert data into database##

my_insert=Districts.insert().values(DisNum=1, DisName='Alachua',TotGradRate=88.5)
result = conn.execute(my_insert)
query = select([Districts.c.DisNum, Districts.c.DisName, Districts.c.TotGradRate]).limit(100)
result = conn.execute(query)
for row in result:
    print(row)

(1, 'Alachua', '88.5')